#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0rem 2rem;
  z-index: 1;
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar button {
  width: 115px;
  height: 57px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: #00a087;
}

#nav-bar button:hover {
  color: black;
}

#nav-bar button .pencil {
  float: left;
}

#nav-bar button span {
  float: right;
}

#nav-bar .header {
  font-size: 2rem;
  width: 90%;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  padding-right: 10px;
}


