#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0rem 2rem;
  z-index: 1;
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar button {
  padding: 15px;
  border-radius: 5px;
  color: #00a087;
}

#nav-bar .header {
  font-size: 2rem;
  width: 90%;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  padding-right: 10px;
}


